@font-face {
  font-family: 'octarine';
  src: url('../fonts/octarine.bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'octarine';
  src: url('../fonts/octarine.light.otf');
  font-weight: normal;
}

:root {
  --border-radius: 7px;
  --container-height: 35px;
  --unit-display-padding: 10px;
}

html {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'octarine';
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'octarine';
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #2a2a2a;
  border-radius: var(--border-radius);
  width: fit-content;
  height: var(--container-height);
  margin-left: auto;
}

.display-unit {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-left: var(--unit-display-padding);
  padding-right: var(--unit-display-padding);
  width: fit-content;
  height: 100%;
  border-radius: var(--border-radius);
}

.non-icon-unit {
  min-width: 40px;
}

.icon-unit {
  padding-left: 5px;
  padding-right: 5px;
}

.white {
  background-color: white;
  color: #2a2a2a;
}

.small-title {
  font-size: 6px;
}

.horizontal-text {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.section-title {
  margin-bottom: 1px;
}

.number-deco-text {
  margin-bottom: 3px;
}

.hide {
  display: none;
}